* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
  }

  body{
      overflow-x: hidden;
  }

  .border{
    border: 1px solid red;
  }

  .background-green{
      background: #41c27d;
      background-image: linear-gradient(to top, #47ad77 0%, #41c27e 99%, #41c27e 100%);
  }

  
  .links-header{
      display: flex;
      justify-content: space-between;
      height: 17.5vh;
      width: 100vw;
      padding: 0em 5.5em;
    }
    
    .link-text{
        width: 35%;
        display: flex;
        align-items: center;
    }
    
    .link-icon{
        width: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .menu{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }
    
    .menu li a{
        text-decoration: none;
        color: #ffffff;
        font-family: "Open Sans";   
    }

    .container{
        background: url("/img/images/Layer\ 18.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: calc(100vh - 17.5vh);
        padding-left: 17em;
        padding-top: 10em;
        padding-bottom: 10em;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .container h1{
        color: #525252;
        font-family: "Open Sans";
        font-size: 2em;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-transform: uppercase;
        /* Text style for "T, ake Pho" */
        font-style: normal;
        letter-spacing: 2.04px;
        line-height: normal;
    }

    .container p{
        color: #6e6c6c;
        font-family: "Open Sans";
        font-size: 1em;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 28px;
        text-align: left;
        /* Text style for "W, ith onl" */
        font-style: normal;
        letter-spacing: 0.8px;
        line-height: normal;
    }

    .text-principal h1{
        margin-bottom: 1em;
    }

    .button-so-mobile{
        display: flex;
        flex-direction: row;
    }

    .button-so-mobile a{
        border: 2px solid #525252;
        width: 14em;
        height: 4em;

        display: flex;
        justify-content: center;
        align-items: center;
        
        text-decoration: none;
        color: #525252;
        font-family: "Open Sans - Semibold";
        font-size: 1em;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 32px;
        text-align: left;
        text-transform: uppercase;
        /* Text style for "I, phone A" */
        font-style: normal;
        letter-spacing: 0.16px;
        line-height: normal;

        margin-right: 1em;
    }

    .button-so-mobile a img{
        margin-right: 1em;
        width: 12px;
    }


    .second-section{
        width: 100vw;
        height: 100vh;
    }

    .conteudo{
        display: flex;
        justify-content: center;
        padding: 1em 0;

    }

    .img-empresas{
        width: 100%;
        height: 5em;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #f3f3f3;
    }

    .img-iphone{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-iphone img{
        width: 45%;
    }

    .text-capture{
        max-width: 50%;
        display: flex;
        flex-direction: column;

        justify-content: space-evenly;
    }

    .text-capture h1{
        color: #525151;
        font-family: "Open Sans";
        font-size: 2em;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.34px;
        line-height: 46px;
        text-transform: uppercase;
    }

    .text-capture p{
        color: #767272;
        font-family: "Open Sans";
        font-style: normal;
        letter-spacing: 0.16px;
        line-height: 32px;

        margin-top: 1em;
        margin-bottom: 1em;
    }

    .text-capture ul{
        list-style: none;
        text-decoration: none;
    }

    .text-capture ul li{
        margin-top: .5em;

        color: #767272;
        font-family: "Open Sans Semibold";
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0.16px;
        line-height: 44px;

        display: flex;
        align-items: center;
    }

    .text-capture ul li img{
        margin-right: 2em;
    }

    .button-video{
        margin-top: 1em;

        display: flex;
        align-items: center;
    }

    .button-video p{
        margin-left: 1em;
    }

    .third-section{
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .square-texts{
        min-width: 65em;
      }
      
      .square {
        float:left;
        position: relative;
        width: 30%;
        padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
        overflow:hidden;
      
        margin:1.66%;

        display: flex;
        justify-content: center;
      }
      
      .content-square {
        position:absolute;
        height:90%; /* = 100% - 2*5% padding */
        width:90%; /* = 100% - 2*5% padding */

        bottom: 5%;
      
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .table-square{
        display:table;
        width:100%;
        height:100%;
      }
      .table-cell{
        display:table-cell;
        vertical-align:middle;
      }
      
      .table-cell p{
        color: #E5ECF0;
      }

      .context-table{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          text-align: center;
      }

      .context-table h2{
        margin: 1em 0em;

        color: #ffffff;
        font-family: "Open Sans";
        font-size: 1em;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0.2px;
        line-height: 26px;
        text-transform: uppercase;
      }

      .context-table p{
        font-family: "Open Sans";
        font-style: normal;
        letter-spacing: 0.16px;
        line-height: 28px;
      }

      .fourth-section{
          width: 100vw;
          height: 100vh;

          display: flex;
          flex-direction: column;
      }

      .height-33{
        height: 33%;
      }
      .width-56{
        max-width: 56%;
        margin: auto;
      }

      .center{
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
      }

      .line-one p{
        color: #767272;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 36px;
        text-align: center;
        /* Text style for "I, nteger" */
        font-style: normal;
        letter-spacing: 0.18px;
        line-height: normal;
      }

      .text-joe h2{
        margin-top: 3em;

        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0.48px;
        line-height: normal;
        text-transform: uppercase;
      }

      .text-joe p{
        font-family: "Open Sans";
        font-style: normal;
        letter-spacing: 0.42px;
        line-height: normal;
      }

      .inform-email p{
        font-size: 1.5em;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 26px;
        text-align: center;
        color: #ffffff;
      }

      .inform-email input{
        color: #41c17d;
      }

      .submit-lente {
        border:none;
        background:transparent;
        outline:none;
    }
    
    .submit-line {
        position: relative;
        width: 20em;
        height: 3em;
        background: #ffffff;
        border-radius: 5px;
        
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 3em;
      }
      
      .submit-line input {
        width: 90%;
        border: none;
      }

      .line-three img{
          margin-bottom: 3em;
      }

      .line-three p{
        color: #767272;
        font-size: .8em;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
      }
    
@media only screen and (max-width: 1024px){
  .container{
    padding-left: 3em;
    font-size: 75%;
  }
  .second-section{
    height: 100%;
  }

  .img-empresas img{
    width: 90%;
  }

  .third-section{
    height: 100%;
  }
  .square-texts{
    min-width: 90%;
    width: 90%;
    font-size: 80%;
  }

  .fourth-section > div:first-child {
    height: auto;
  }
}

@media only screen and (max-width: 760px){
  .links-header{
    justify-content: space-around;
    padding: 0;
  }

  .link-icon, .link-text{
    width: auto;
  }

  .link-icon a, .link-text a{
    margin-right: .5em;
  }
  .second-section div:first-child{
    display: flex;
    flex-direction: column;
  }
  .conteudo{
    flex-direction: column;
    align-items: center;
  }

  .text-capture{
    max-width: 80%;
  }

  .button-so-mobile a{
    padding: .5em 1em;
    font-size: 80%;
  }

  .square{
    width: 45%;
    padding-bottom: 80%;
  }

  .fourth-section div:first-child, .fourth-section div:last-child{
    max-width: 80%;
    padding: 1em 0;
  }
}